# C# files
[*.cs]


# IDE0065: Misplaced using directive
dotnet_diagnostic.IDE0065.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1302: Interface names should begin with I
dotnet_diagnostic.SA1302.severity = none

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1806: Do not ignore method results
dotnet_diagnostic.CA1806.severity = none

# IDE1006: Naming Styles
dotnet_diagnostic.IDE1006.severity = none

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = none

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = warning

# CA2213: Disposable fields should be disposed
dotnet_diagnostic.CA2213.severity = warning

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = warning
