# C# files
[*.cs]

# IDE0065: Misplaced using directive
dotnet_diagnostic.IDE0065.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1302: Interface names should begin with I
dotnet_diagnostic.SA1302.severity = none

# IDE0065: Misplaced using directive
csharp_using_directive_placement = inside_namespace:error

# CA2000: Dispose objects before losing scope
dotnet_diagnostic.CA2000.severity = warning

# CA2213: Disposable fields should be disposed
dotnet_diagnostic.CA2213.severity = warning

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = warning

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# Default severity for analyzer diagnostics with category 'StyleCop.CSharp.DocumentationRules'
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none
